.sidemenu {
  grid-area: sidebar;
  padding: 1em .5em;
  border-right: 1px solid #CCC
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
li {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
}
.type {
  padding: .25em .5em;
  background-color: #ccc;
  color: black;
}
h2 {
  text-align: start;
}