.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: .5fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "sidebar main";

}

.main {
  grid-area: main;
}

.chart-body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-height: 10px; */
  
}
